<!DOCTYPE html>
<html>
  <head>
    <title>ThiThu</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <button><a href="/insertForm/">THEM</a></button>

  <button><a href="/danhSach/">DANH SACH</a></button>

        <h2>Tong so bai viet: <%=data.length%> </h2>
  </body>
</html>
