<!DOCTYPE html>
<html>
  <head>
    <title>ThiThu</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <form action="/insert" enctype="multipart/form-data" method="post">
    <input name="_tieude" type="text" placeholder="nhap tiede" required> <br>
    <input name="_noidung" type="text" placeholder="nhap noidung" required> <br>
    <input name="_baiviet" type="text" placeholder="nhap baiviet" required> <br>

    <input name="_anh" type="file" multiple required > <br>
    <button type="submit">OK</button>
  </form>
  </body>
</html>
